# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Env files
.env*

# VSCode/IDE
.vscode/
.idea/

# IoTController runtime I/O
New_code/IotController/inbox/
New_code/IotController/outbox/
IotController/inbox/
IotController/outbox/

# WorkFlowController runtime I/O
New_code/WorkFlowController/inbox/
New_code/WorkFlowController/outbox/
WorkFlowController/inbox/
WorkFlowController/outbox/

